
.link{border:1px solid #ccc;height: 205px;background-color: #fff;
    .contain{
        dl{float: left;padding: 2px 102px 0px 68px;border-right:1px dashed #e7e7e7;height: 168px; margin-top: 18px;
            dt{font-size: 15px;font-weight: bold;color:#444;height: 40px;line-height: 40px;}
            dd{font-size: 12px;height: 28px;line-height: 28px;padding-left: 5px;a:hover{color:#fe587e;}}
        }
        .fr{padding-left: 12px;padding-top: 56px;position: relative;width: 240px;
            img{position: absolute;left: 0px;top: 14px;z-index:-2;}
            p{padding-left: 38px;
                strong{font-size: 18px;color:#fe587e;}
                i{padding-left: 38px;color:#fe587e;}
            }
            span{color:red;}
            input{width: 100px;height: 23px;background: url(../img/btn_bg_red.png) no-repeat;border-radius:3px;color:#fff;margin-top: 13px;margin-bottom: 5px;}
            h3{color:blue;font-weight: 600;}
        }
    }  
}

.footer{
    padding: 20px;
    background-color: #999;
    height: 160px;
    margin-top: 50px;
    .ul{
        // border:1px solid #ccc;
        margin: 0 auto;
        width: 1080px;
        overflow: hidden;
        position: relative;
        height: 104px;
        ul{
            width: 5400px;
            position: absolute;
            left: 0px;
            top: 0px;
            li{
                width: 330px;float: left;font-size: 12px;margin:6px 15px;color: #fff;
                p{width: 330px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
                a{color:yellow;}
            }
        }
    }
    
}
.footer2{
    height: 182px;
    h3{
        height: 45px;
        margin-top: 0;
        line-height: 45px;
        font-size: 12px;text-align: center;background-color: #eee;
        a{padding: 0px 3px;color:#000;}
    }
    p{text-align: center;font-size: 12px;}
    div{
        text-align: center;
        img{display: inline-block;margin-right: 6px;}
        padding-bottom: 18px;

    }
}
.bot{
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #999;
    font-size: 14px;
    color:#fff;
    line-height: 20px;
    text-align: center;
    position: fixed;
    bottom: 2px;
    right: 2px;
    display: none;
}
// body{height: 20200px}