#header{
    height: 255px;
    color:#444;
    .header1{
        background-color: #eae9e9;
        .contain{
            height: 30px;
            line-height: 30px;
            h3{font-size: 12px;width: 40%;float: left;
                line-height: 30px;
                i{color:#fe587e;}
                a{margin-left: 16px;}
            }
            ul{float: right;font-size: 12px;
                li{ float: left;
                    a{padding: 0px 8px;}
                }  
            }
        }
        a{cursor:pointer}
        a:hover{text-decoration: none;color:#fe587e;}
    }
    .header2{font-family: arial;
        .act{
            img{}
        }
        .search{
            padding: 24px 0px;
            .logo{float: left;
                display: inline-block;
                img{width: 240px;height: 53px;} 
            }
            .mid{width: 456px;height: 64px;  display: inline-block;  float: left;margin-left: 175px;
                input{width: 386px;height: 34px;border:2px solid #fe587e;padding-left: 38px;float: left;background: url(../img/jlt.png) no-repeat 9px -68px;}
                button{width: 70px;height: 34px;background-color: #fe587e;color:#fff;font-size: 14px;float: left;cursor: pointer;}
                p{line-height: 44px;a{margin: 0px 6px;color:#999;}}
            }
            .right{
                padding-left: 20px;float: left;
                a{display: inline-block;width: 132px;height: 36px;border:1px solid #fe587e;border-radius:10px;box-shadow:0 3px 3px #fe587e;text-align: center;line-height: 36px;color:#fe587e;font-size: 14px;margin-left: 20px;}
                a:hover{text-decoration: underline;}
            }
        }
        
    }
    .nav3{background-color: #F7F7F7;border-bottom:2px solid #fe587e;
        .contain{position: relative;height: 42px; line-height: 42px;
            .three{display: none;width: 712px;height: 450px;border:1px solid #fe587e;
                    position: absolute;left: 230px;top: 42px;z-index:999;background-color: #fff;padding: 25px 55px;
                    a{display: inline-block;line-height: 50px;font-size: 13px;padding: 0px 25px ;}
            }
            .two{width: 230px;height: 450px;position: absolute;left: 0px;top: 42px;display: none;background-color: #fe587e;z-index:999;
                li{height: 56px;list-style: none;cursor: pointer;line-height: 56px;
                    a{display: inline-block;width: 95px;height: 100%;padding-left: 13px;font-size: 16px;color:#fff;}
                   
                }
                .active{
                        background: url(../img/alpha.png);
                        color: #fe587e;
                }
            }
            .all_nav{width: 230px;height: 42px;float: left;background-color: #fe587e;font-size: 14px;color:#fff;padding-left: 28px;font-size: 15px;cursor: pointer;}
            .ul_nav{float: left;
                li{float: left;font-size: 15px;
                    a{padding: 0px 20px;color:#444;}
                    a:hover{color:#fe587e;}
                }
            }
            #cart{width: 120px;height: 40px;float: right;line-height: 40px;text-align: center;background:#fe587e url(../img/jlt.png) no-repeat 10px -90px;
                a{font-size: 14px;color:#fff;display: block;width: 120px;height: 40px;
                    i{padding: 0px 3px;font-weight: 600;font-size: 16px;}
                }
            }
        }
    }
}