// body{background-color: #ccc;}
body{font-family: "Microsoft Yahei";}
#header{
    border:1px solid #ccc;height: 255px;
    color:#444;
    .header1{
        background-color: #eae9e9;
        .contain{
            height: 30px;
            line-height: 30px;
            h3{font-size: 12px;width: 40%;float: left;
                line-height: 30px;
                i{color:#fe587e;}
                a{margin-left: 16px;}
            }
            ul{float: right;font-size: 12px;
                li{ float: left;
                    a{padding: 0px 8px;}
                }  
            }
        }
        a{cursor:pointer}
        a:hover{text-decoration: none;color:#fe587e;}
    }
    .header2{font-family: arial;
        .act{
            img{}
        }
        .search{
            padding: 24px 0px;
            .logo{float: left;
                display: inline-block;
                img{width: 240px;height: 53px;} 
            }
            .mid{width: 456px;height: 64px;  display: inline-block;  float: left;margin-left: 175px;
                input{width: 386px;height: 34px;border:2px solid #fe587e;padding-left: 38px;float: left;background: url(../img/jlt.png) no-repeat 9px -68px;}
                button{width: 70px;height: 34px;background-color: #fe587e;color:#fff;font-size: 14px;float: left;}
                p{line-height: 44px;a{margin: 0px 6px;color:#999;}}
            }
            .right{
                padding-left: 20px;float: left;
                a{display: inline-block;width: 132px;height: 36px;border:1px solid #fe587e;border-radius:10px;box-shadow:0 3px 3px #fe587e;text-align: center;line-height: 36px;color:#fe587e;font-size: 14px;margin-left: 20px;}
                a:hover{text-decoration: underline;}
            }
        }
        
    }
    .nav3{background-color: #F7F7F7;border-bottom:2px solid #fe587e;
        .contain{position: relative;height: 42px; line-height: 42px;
            .fenlei{width: 230px;height: 450px;border:1px solid #ccc;position: absolute;left: 0px;top: 42px;}
            .all_nav{width: 230px;height: 42px;float: left;background-color: #fe587e;font-size: 14px;text-align: center;color:#fff;}
            .ul_nav{float: left;
                li{float: left;font-size: 15px;
                    a{padding: 0px 20px;color:#444;}
                    a:hover{color:#fe587e;}
                }
            }
            #cart{width: 120px;height: 40px;float: right;color:#fff;font-size: 14px;line-height: 40px;text-align: center;background:#fe587e url(../img/jlt.png) no-repeat 10px -90px;
                
            }
        }
    }
}
#banner{border:1px solid #ccc;height: 450px;
    .contain{position: relative;
        .banner{width: 740px;height: 450px;border:1px solid #ccc;position: absolute;left: 230px;}
        .banner_r{width: 230px;height: 435px;border:1px solid #ccc;margin-top: 7px;}
    }
}
#ps{border:1px solid #ccc;height: 205px;background: #f3f3f3;
    .contain{position: relative;
        span{display: inline-block;width: 30px;text-align: center;line-height: 20px;height: 20px;position: absolute;font-size: 14px;border-radius:8px;font-weight: 600;background-color: #fe587e;left: 622.5px;top: 30px;color:#fff;}
        img{margin: 0 auto;}
        a{float: left;
            img{width: 235px;
            height: 146px;}
        }
        .chengnuo{float: left;border:1px solid #ccc;width: 965px;height: 150px;}
    }
}
#main{
    border:1px solid #ccc;height: 6260px;background: #f3f3f3;
    .contain{
        .min {
            overflow: hidden;
            margin: 0 auto;
            padding-top: 20px;
            height: 560px;
            border:1px solid red;

            .fl{width: 970px;
                .title{height: 50px;font-size: 18px;font-weight: bold;color:#fff;line-height: 50px;padding-left: 12px;}
            }
            .fr{width: 218px;}
            .hot{color:#fff;font-size: 16px;padding-left: 10px;background-color:#fe587e;height: 50px;line-height: 50px;}
        }
        .time{height: 454px;border:1px solid red;}
        .act{height: 653px;border:1px solid red;}
        #L9{
            div.title{height: 50px;line-height: 58px;background: #fff url(../img/xianshi.png) no-repeat 2px 10px;padding-left: 100px;font-size: 15px;color:#999;}
            ul{margin-top: 38px;
                li{width: 288px;height: 330px;border:1px solid #ccc;background-color: #fff;margin-right: 15px;position: relative;padding: 12px 17px;
                    .img{display: block;width: 252px;height: 176px;border:1px solid #ccc;
                    }
                    .qty{width: 252px;height: 36px;position: absolute;left: 18px;top: 155px;
                        i{display: inline-block;width: 150px;height: 20px;border-radius:10px;background: url(../img/jdtbg.png) no-repeat}
                        span{display: inline-block;float: right;margin-right: 26px;}
                    }
                    .money{
                        padding: 13px 0px;
                        .sp1{color:#fe587e;font-size: 22px;margin-right: 10px;}
                        .sp2{color:#999;font-size: 14px;text-decoration: line-through;}
                        i{display: inline-block;width: 80px;height: 28px;text-align: center;background-color: #fe587e;border-radius:5px;line-height: 28px;a{color:#fff;}}
                    }
                    p{a{font-size: 15px;color:#444;line-height: 25px;}}
                }
                li:hover{
                    box-shadow: 0px 0px 5px #ccc;
                    transform: translate(0,-10px);
                    transition: .2s all linear;
                }
            }
        }
        #L10{
            div.title{height: 50px;line-height: 50px;background-color: #f76c83;font-size: 18px;font-weight: bold;padding-left: 26px;color:#fff;}
            .top{height: 334px;
                div{width: 493px;display: inline-block;}
                ul{width: 701px;height: 324px;display: inline-block;
                    li{float: left;width: 347.5px;height: 158px;border:1px solid #ccc;margin-top: 5px;margin-left: 3px;
                        .l{display: inline-block;width: 160px;height: 150px;}
                        p{display: inline-block;width: 173px;
                        padding: 13px 0px;
                        span{line-height: 40px;}
                        img{width: 40px;display: inline-block;float: right;
                        height: 40px;}
                        .sp1{color:#444;font-size: 22px;margin-right: 10px;font-weight: bold;}
                        .sp2{color:#999;font-size: 14px;text-decoration: line-through;}
                        i{display: inline-block;width: 55px;height: 28px;text-align: center;background-color: #fe587e;border-radius:5px;line-height: 28px;margin: 10px 28px 0px 0px;a{color:#fff;}}
                        }
                    }
                    li:hover{
                        box-shadow: 0px 0px 5px #ccc;
                        transform: translate(0,-4px); 
                        transition: .2s all linear;
                    }
                }
            }
            .bottom{
                ul{height: 239px;
                    li{ width: 234px;height: 229px;
                        span{img{width: 40px;display: inline-block;float: right;}
                        height: 40px;}
                        a{width: 234px;height: 150px;}
                    }
                }
            }
        }
        #L11{
            div.title{height: 50px;line-height: 50px;background-color: #aaa8a9;font-size: 18px;font-weight: bold;padding-left: 26px;color:#fff;}
        }
        #L1{.title{background-color: #a4c5e6;}}
        #L2{.title{background-color: #a4cdbd;}}
        #L3{.title{background-color: #c0a89c;}}
        #L4{.title{background-color: #92b74d;}}
        #L5{.title{background-color: #f5ac45;}}
        #L6{.title{background-color: #f67474;}}
        #L7{.title{background-color: #85706b;}}
        #L8{.title{background-color: #a59bd8;}}
    }
    #ul_stair{
        width: 50px;
        position: fixed;
        left: 50px;
        top: 150px;
        display: none;
        
        i{display: inline-block;width: 87px;
        height: 86px;position: absolute;left: -19px;
        top: -85px;}
        .active{background-color: #fe587e};
        li{
            text-align: center;
            font-size: 12px;
            width: 50px;
            line-height: 35px;
            color: #fff;
            border-bottom: 1px solid #bdbdbd;
            cursor: pointer;
            background: #adadad;
        }
        li:hover{background-color: #fe587e;}
    }
}
#link{border:1px solid #ccc;height: 205px;
    .contain{
        dl{float: left;padding: 2px 102px 0px 68px;border-right:1px dashed #e7e7e7;height: 168px; margin-top: 18px;
            dt{font-size: 15px;font-weight: bold;color:#444;height: 40px;line-height: 40px;}
            dd{font-size: 12px;height: 28px;line-height: 28px;padding-left: 5px;a:hover{color:#fe587e;}}
        }
        .fr{padding-left: 12px;padding-top: 56px;position: relative;width: 240px;
            img{position: absolute;left: 0px;top: 14px;z-index:-2;}
            p{padding-left: 38px;
                strong{font-size: 18px;color:#fe587e;}
                i{padding-left: 38px;color:#fe587e;}
            }
            span{color:red;}
            input{width: 100px;height: 23px;background: url(../img/btn_bg_red.png) no-repeat;border-radius:3px;color:#fff;margin-top: 13px;margin-bottom: 5px;}
            h3{color:blue;font-weight: 600;}
        }
    }  
}
#footer{border:1px solid #ccc;}
#link2{background: #f3f3f3;
    .contain{
        h3{font-size: 14px;line-height: 75px;height: 75px;color:#444;a{margin: 0 8px;}}
    }
    
}
