.link { border: 1px solid #ccc; height: 205px; background-color: #fff; }

.link .contain dl { float: left; padding: 2px 102px 0px 68px; border-right: 1px dashed #e7e7e7; height: 168px; margin-top: 18px; }

.link .contain dl dt { font-size: 15px; font-weight: bold; color: #444; height: 40px; line-height: 40px; }

.link .contain dl dd { font-size: 12px; height: 28px; line-height: 28px; padding-left: 5px; }

.link .contain dl dd a:hover { color: #fe587e; }

.link .contain .fr { padding-left: 12px; padding-top: 56px; position: relative; width: 240px; }

.link .contain .fr img { position: absolute; left: 0px; top: 14px; z-index: -2; }

.link .contain .fr p { padding-left: 38px; }

.link .contain .fr p strong { font-size: 18px; color: #fe587e; }

.link .contain .fr p i { padding-left: 38px; color: #fe587e; }

.link .contain .fr span { color: red; }

.link .contain .fr input { width: 100px; height: 23px; background: url(../img/btn_bg_red.png) no-repeat; border-radius: 3px; color: #fff; margin-top: 13px; margin-bottom: 5px; }

.link .contain .fr h3 { color: blue; font-weight: 600; }

.footer { padding: 20px; background-color: #999; height: 160px; margin-top: 50px; }

.footer .ul { margin: 0 auto; width: 1080px; overflow: hidden; position: relative; height: 104px; }

.footer .ul ul { width: 5400px; position: absolute; left: 0px; top: 0px; }

.footer .ul ul li { width: 330px; float: left; font-size: 12px; margin: 6px 15px; color: #fff; }

.footer .ul ul li p { width: 330px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.footer .ul ul li a { color: yellow; }

.footer2 { height: 182px; }

.footer2 h3 { height: 45px; margin-top: 0; line-height: 45px; font-size: 12px; text-align: center; background-color: #eee; }

.footer2 h3 a { padding: 0px 3px; color: #000; }

.footer2 p { text-align: center; font-size: 12px; }

.footer2 div { text-align: center; padding-bottom: 18px; }

.footer2 div img { display: inline-block; margin-right: 6px; }

.bot { cursor: pointer; width: 40px; height: 40px; background-color: #999; font-size: 14px; color: #fff; line-height: 20px; text-align: center; position: fixed; bottom: 2px; right: 2px; display: none; }
